import { RequestOptionsArgs } from '@angular/http';

export interface ApiConfig {
  basePath: string;
  pid?: string;
  requestInterceptor: (path: string, requestOptions: RequestOptionsArgs) => void;
}

export interface Api{{appName}}ConfigMap {
  {{appName}}: ApiConfig;
}
