import { RequestOptionsArgs } from '@angular/http';
import { Observable } from 'rxjs/Observable';

export interface HTTPCallConfig {
  path: string;
  requestOptions: RequestOptionsArgs;
  className: string;
}

export interface ExtraParams {
  [key: string]: string;
}

export interface ApiConfig {
  basePath: string;
  pid?: string;
  requestInterceptor: (config: HTTPCallConfig) => HTTPCallConfig;
  responseInterceptor?: (responseObservable: Observable) => Observable;
}

export interface Api{{appName}}ConfigMap {
  {{appName}}: ApiConfig;
}
