{{>licenseInfo}}
import { Http, Headers, RequestOptionsArgs, Response, URLSearchParams } from '@angular/http';
import { Injectable, Inject } from '@angular/core';
import { Observable } from 'rxjs/Observable';
import * as models from '../model/models';
import 'rxjs/add/operator/map';
import { ApiConfig, Api{{appName}}ConfigMap, HTTPCallConfig, UrlParam } from './api-config';

/* tslint:disable:no-unused-variable member-ordering */

{{#operations}}
'use strict';

{{#description}}
/**
 * {{&description}}
 */
{{/description}}
@Injectable()
export class {{classname}} {
  public defaultHeaders : Headers = new Headers();
  private config: ApiConfig;

  constructor(protected http: Http, @Inject('API_CONFIG') apiConfig: Api{{appName}}ConfigMap) {
    this.config = <ApiConfig>apiConfig.{{appName}};
    if (!this.config) {
      throw new Error('No Config Provider for {{appName}}');
    }
  }

{{#operation}}
  /**
   * {{summary}}
   {{#notes}}*{{ notes}}{{/notes}}
   {{#allParams}}* @param {{paramName}}{{#description}} {{description}}{{/description}}
   {{/allParams}}*/
  public {{nickname}} ({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/allParams}}extraHttpRequestParams?: UrlParam[] ) : Observable<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}{}{{/returnType}}> {
    const path = this.config.basePath + '{{path}}'{{#pathParams}}
      .replace('{' + '{{baseName}}' + '}', String({{paramName}})){{/pathParams}};

    let queryParameters = new URLSearchParams();
    let headerParams = this.defaultHeaders;
{{#hasFormParams}}
    let formParams: { [key: string]: string } = {};
{{/hasFormParams}}
{{#allParams}}
{{#required}}
    // verify required parameter '{{paramName}}' is not null or undefined
    if ({{paramName}} === null || {{paramName}} === undefined) {
      throw new Error('Required parameter {{paramName}} was null or undefined when calling {{nickname}}.');
    }

{{/required}}
{{/allParams}}
{{#queryParams}}
    if ({{paramName}} !== undefined) {
      queryParameters.set('{{baseName}}', {{paramName}} as any);
    }

{{/queryParams}}
    if (this.config.pid) {
      queryParameters.set('pid', this.config.pid);
    }

    if (extraHttpRequestParams) {
      extraHttpRequestParams.forEach((param) => queryParameters.set(param.key, param.value));
    }

{{#headerParams}}
    headerParams.set('{{baseName}}', {{paramName}});
{{/headerParams}}
{{#hasFormParams}}
    headerParams.set('Content-Type', 'application/x-www-form-urlencoded');

{{/hasFormParams}}
{{#formParams}}
    if ({{paramName}}) {
      formParams['{{baseName}}'] = String({{paramName}});
    }

{{/formParams}}
    let requestOptions: RequestOptionsArgs = {
      method: '{{httpMethod}}',
      headers: headerParams,
      search: queryParameters,
    };

    {{#bodyParam}}
    const bodyParams = {{paramName}};
    if (typeof bodyParams === 'string') {
      requestOptions.body = bodyParams;
    } else {
      requestOptions.body = JSON.stringify(bodyParams);
    }

    {{/bodyParam}}
    {{#hasFormParams}}
    requestOptions.body = JSON.stringify(formParams);
    {{/hasFormParams}}
    const interceptor = this.config.requestInterceptor;
    let requestConfig: HTTPCallConfig = {
      path: path,
      requestOptions: requestOptions,
      className: '{{classname}}',
    };

    if (interceptor) {
      requestConfig = interceptor(requestConfig);
    }

    return this.http.request(requestConfig.path, requestConfig.requestOptions)
      .map((response: Response) => {
        if (response.status === 204) {
          return undefined;
        } else {
          return response.json();
        }
      });
    }

{{/operation}}
}
{{/operations}}
